pre {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #464443;
    color: #333;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
  
    margin-bottom: 1.6em;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    padding: 12px;
    border-radius: 7px;
    overflow-x: auto;
  }
  .copy-button {
    margin-top: 5px;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
  }
  .copy-button:hover {
    background-color: #0056b3;
  }
  .copied {
    background-color: #28a745;
    color: #fff;
  }